<img src="https://bit.ly/2VnXWr2" width="100" align="left">

# Lab | SQL Select

## Challenge 1 - Who Have Published What At Where?

In this challenge you will write a `SELECT` query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

- `AUTHOR_ID` - the ID of the author
- `LAST_NAME` - author last name
- `FIRST_NAME` - author first name
- `TITLE` - name of the published title
- `PUBLISHER` - name of the publisher where the title was published

In [38]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/Miguel/Documents/GitHub/Ironhack exercises/Modulo 1/ironhack_service_account_big_query.json"
from google.cloud import bigquery

In [39]:
client = bigquery.Client()

In [40]:
query_1 = '''
SELECT authors.au_id AS author_id, authors.au_lname AS last_name , authors.au_fname AS first_name , titles.title AS title , publishers.pub_name AS publisher

FROM  `ironhack-data-analytics-265219.publications.authors` authors

INNER JOIN `ironhack-data-analytics-265219.publications.titleauthor` titleauthor

ON authors.au_id = titleauthor.au_id

INNER JOIN `ironhack-data-analytics-265219.publications.titles` titles

ON titleauthor.title_id=titles.title_id

INNER JOIN `ironhack-data-analytics-265219.publications.publishers` publishers

ON titles.pub_id = publishers.pub_id'''

In [41]:
query_job_1= client.query(query=query_1)

In [42]:
dataframe_1 = query_job_1.to_dataframe()

In [43]:
dataframe_1

,author_id,last_name,first_name,title,publisher
0,807-91-6654,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
1,722-51-5454,DeFrance,Michel,The Gourmet Microwave,Binnet & Hardley
2,712-45-1867,del Castillo,Innes,Silicon Valley Gastronomic Treats,Binnet & Hardley
3,899-46-2035,Ringer,Anne,Is Anger the Enemy?,New Moon Books
4,899-46-2035,Ringer,Anne,The Gourmet Microwave,Binnet & Hardley
5,998-72-3567,Ringer,Albert,Is Anger the Enemy?,New Moon Books
6,998-72-3567,Ringer,Albert,Life Without Fear,New Moon Books
7,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
8,486-29-1786,Locksley,Charlene,Emotional Security: A New Algorithm,New Moon Books
9,486-29-1786,Locksley,Charlene,Net Etiquette,Algodata Infosystems
10,846-92-7186,Hunter,Sheryl,Secrets of Silicon Valley,Algodata Infosystems
11,427-17-2319,Dull,Ann,Secrets of Silicon Valley,Algodata Infosystems
12,672-71-3249,Yokomoto,Akiko,"Sushi, Anyone?",Binnet & Hardley
13,756-30-7391,Karsen,Livia,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
14,274-80-9391,Straight,Dean,Straight Talk About Computers,Algodata Infosystems
15,724-80-9391,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
16,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
17,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
18,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
19,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
20,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
21,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
22,267-41-2394,O'Leary,Michael,"Sushi, Anyone?",Binnet & Hardley
23,472-27-2349,Gringlesby,Burt,"Sushi, Anyone?",Binnet & Hardley
24,648-92-1872,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley

In [49]:
query_2='''
SELECT COUNT(*) AS records
FROM  `ironhack-data-analytics-265219.publications.titleauthor` titleauthor
'''

In [50]:
query_job_2 = client.query(query=query_2)

In [52]:
dataframe_2 = query_job_2.to_dataframe()

In [53]:
dataframe_2

   records
0       25